*{margin: 0;padding: 0;box-sizing:border-box;}ul,li{list-style:none;}
.clearfix:after{
    content: ".";
    display:block;
    clear: both;
    height: 0;
    visibility: hidden;
}
.clearfix{
    *zoom:1;
}
.color-red{
    color:red;
}

/* 去除点击元素形成热区造成的蓝色背景 */
body {
    -moz-user-select: none; /*火狐*/
    -webkit-user-select: none; /*webkit浏览器*/
    -ms-user-select: none; /*IE10*/
    -khtml-user-select: none; /*早期浏览器*/
    user-select: none;
}
.query{
    width: 410px;
    padding:0 0.245%;
    /* border:1px solid #f1f1f1; */
    border:1px solid #000;
    margin:50px auto;
}
.query-tit{
    position: relative;
    width: 100%;
    height:90px;
    padding:0 15px;
    text-align: center;
    border-bottom:1px solid #f1f1f1;
}
.query-time{
    position: absolute;
    left:0;
    bottom:-2px;
    cursor: pointer;
}
.query-tit .date{
    font-size:48px;
    color:#26ec4b;
}
.query-tit .week{
    font-size:12px;
    color:#ccc;
}
.segmenting-line{
    position: absolute;
    left:30%;
    top:15px;
    width: 1px;
    height: 60px;
    background-color: #f1f1f1;
    background-color: #000;
}
.year-month{
    position: absolute;
    left:50%;
    bottom: 8px;
    transform:translate(-50%,0);
}
.last-month{
    position: absolute;
    bottom:8px;
    right:10px;
}
.query-tit .upper,.query-tit .lower{
    display: inline-block;
    width: 35px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #ebebeb;
    color:#5d5d5d;
    border-radius: 5px;
    cursor: pointer;
}
.query-tit .sel{
    background-color: #0090ff;
    color:#fff;
}
/* 日历展示区域开始 */
.calende{
    width: 99%;
    margin:0 auto;
    padding:12px 0 0 0;
}
.weeks{
    width: 100%;
    height:25px;
    background-color: #000;
}
.weeks li{
    float: left;
    width:14.2857%;
    height:25px;
    line-height:25px;
    text-align: center;
    color:#fff;
}
.weeks .color-red{
    color:red;
}
.day-info{
    width: 100%;
    height: 120px;/* 120 是4,5,6的公倍数*/
}
.day-info li{
    float: left;
    width:14.2857%;
    text-align: center;
    cursor: pointer;
}
.day-info li:nth-child(7n){
    color:red;
}
.day-info li:nth-child(7n+1){
    color:red;
}
/* 日历展示区域结束 */