<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="i in gk">
                {{i.text}}
            </li>
        </ul>

        <div v-for="(i,index) in gk">
            <h3>{{i.text}}</h3>
            <p>{{index}}</p>
        </div>

        <template  v-for="(i,index) in gk">
            <h3>{{i.text}}</h3>
            <p>{{index}}</p>
        </template>
        <!-- 
            注意： <div v-for="(i,index) in gk"> 会创建多个div
                   <template  v-for="(i,index) in gk">  只会生成多个h3 p 性能会更优化 
        -->
    </div>
    <script>
        var app = new Vue({
            el:"#app",
            data:{
                gk:[
                    {text:"生活是面镜子"},
                    {text:"不仅会记住你的微笑"},
                    {text:"还会记住你努力的背影"}
                ]
            }
        })
    </script>
</body>
</html>