<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <input type="text" v-model="message" />
        <div>v-model.lazy:  <input v-model.lazy="message" /></div>
        <div>v-model.number:  <input v-model.number="message" /></div>
        <div>v-model.trim:  <input v-model.trim="message" /></div>

        <div>
            <p>
                <input type="checkbox" id="iTrue" value="first" v-model="arrayList"/>
                <label for="iTrue">first</label>
            </p>
            <p>
                <input type="checkbox" value="secend" v-model="arrayList"/>
                <label for="iTrue">secend</label>
            </p>
            <p>
                <input type="checkbox" value="thre" v-model="arrayList"/>
                <label for="iTrue">thre</label>
            </p>
            <p>
                <input type="checkbox" value="fore" v-model="arrayList"/>
                <label for="iTrue">fore</label>
            </p>
        </div>
        <div>{{arrayList}}</div>
    </div>
    <script>
        var app = new Vue({
            el:"#app",
            data:{
                message:"123双向绑定",
                iTrue:true,
                arrayList:[]
            }
        })
    </script>
</body>
</html>