<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Document</title>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<style>
    
</style>
</head>
<body>
    <div id="app">
        <!-- 输入框 -->
        <input v-model="message" placeholder="edit me">
        <p>Message is: {{ message }}</p>

        <!-- 多行文本框 -->
        <span>Multiline message is:</span>
        <p style="white-space: pre-line;">{{ message1 }}</p>
        <br>
        <textarea v-model="message1" placeholder="add multiple lines"></textarea> <br />

        <!-- 复选框 -->
        <input type="checkbox" id="checkbox" v-model="checked">
        <label for="checkbox">{{ checked }}</label>

        <!-- 多个复选框，绑定到同一个数组： -->
        <div id='example-3'>
          <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
          <label for="jack">Jack</label>
          <input type="checkbox" id="john" value="John" v-model="checkedNames">
          <label for="john">John</label>
          <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
          <label for="mike">Mike</label>
          <br>
          <span>Checked names: {{ checkedNames }}</span>
        </div>

        <!-- 单选按钮 -->
        <div id="example-4">
          <input type="radio" id="one" value="One" v-model="picked">
          <label for="one">One</label>
          <br>
          <input type="radio" id="two" value="Two" v-model="picked">
          <label for="two">Two</label>
          <br>
          <span>Picked: {{ picked }}</span>
        </div>

        <!-- 单选择框 -->
        <div id="example-5">
          <select v-model="selected">
            <option disabled value="">请选择</option>
            <option>A</option>
            <option>B</option>
            <option>C</option>
          </select>
          <span>Selected: {{ selected }}</span>
        </div>
        
        <!-- 多项选择框默认一个数组 -->
        <div id="example-6">
          <select v-model="selecteds" multiple style="width: 50px;">
            <option>A</option>
            <option>B</option>
            <option>C</option>
          </select>
          <br>
          <span>Selected: {{ selecteds }}</span>
        </div>

        <!-- 用 v-for 渲染的动态选项： -->
        <select v-model="selected2">
          <option v-for="option in options" v-bind:value="option.value">
            {{ option.text }}
          </option>
        </select>
        <span>Selected: {{ selected2 }}</span> <br />

        <!-- .number修饰符,控制台输入app.age回车即可看到值 -->
        <span>数字修饰符</span>
        <input v-model.number="age" type="number">
        <br />
        
        <!--  -->
        <span>去除前后空格</span>
        <input v-model.trim="msg">
    </div>
</body>
<script>

var app=new Vue({
    el:"#app",
    data:{
        message:'',
        message1:'',
        checked:true,
        checkedNames: [],
        picked:"", //如果想让默认选中状态是One,直接在picked写One
        selected:'',//如果想让默认选择B,直接在这里配置B
        selecteds:[],
        selected2: 'A',
        options: [
          { text: 'One', value: 'A' },
          { text: 'Two', value: 'B' },
          { text: 'Three', value: 'C' }
        ],
        age:"",
        msg:""
    },
    methods:{

    }
})
</script>
</html>